
main{
    section#menuComida{

        div#productos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 95%;
            div.menuComida__producto{
                width: 33%;
                height: 30rem;
                margin: 1rem;
                background-color: red;
                
            }
        }
    } 
}